<h1>Register</h1><br>

<table class="newTable">
    <tr>
        <td>
            <mat-form-field [style.width.px]=400>
                <mat-label>Email</mat-label>
                <input matInput placeholder="user@gmail.com" [formControl]="email" [(ngModel)]="Email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="Password" [type]="showPassword ? 'text' : 'password'" name="password" required>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
            </mat-form-field>
        </td>
    </tr>
</table>
<br>

<button type="submit" mat-raised-button color="primary" (click)="RegisterNewUser()" class="button">REGISTER</button>